@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: v.$color3;
}
.title{
  font-family: 'Seymour One', sans-serif;
  text-align: center;
  margin-top: 20px;
  color: white;
  text-shadow: 6px 6px blue;
}